div.welcome[role='section'] {
  min-height: calc(90vh - var(--header-height));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;

  h2 {
    text-align: center;
    align-content: end;
  }
  h4 {
    align-self: auto;
  }
  h2,
  h4,
  p {
    width: 80%;
    justify-self: end;
  }
  aside {
    align-self: center;
    justify-self: center;
    grid-row: 1 / -1;
    grid-column: 2 / 3;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
    h2,
    h4,
    p {
      width: 90%;
    }
    aside {
      opacity: 0.4;
    }
    aside,
    h4:nth-of-type(1) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }
  @media (max-width: 600px) {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: repeat(3, minmax(100px, min-content));
    row-gap: 1rem;
    h2,
    h4,
    p {
      width: 90%;
      z-index: 1;
    }
    aside {
      top: 0;
      position: absolute;
      opacity: 0.4;
      width: 100%;
      height: 100vh;
      /* make width of  */
      background-image: url('https://www.acmerocketengine.com/homePageAssets/circle.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
