div[role="contentinfo"].about {
  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }

  .tech_icons {
    max-width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;

    img {
      height: 100px;
    }
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    h6 {
      display: inline-flex;
      margin-bottom: 2rem;
      max-width: 50%;
    }
  }

  .versions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;

    .explication {
      max-width: 50%;
    }
  }

  .keepReading {
    padding: 3rem 0;
    text-align: center;

    p {
      margin-right: 1rem;
      display: inline;
    }
  }
  .MuiDivider-fullWidth {
    margin-bottom: -2.5rem;
    position: relative;
    z-index: 1;
  }
}
