div[role='section'].about {
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;

    h5 {
      display: inline-flex;
      margin-bottom: 2rem;
      text-align: center;
      width: 50%;
    }

    .tech_icons {
      max-width: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 2rem;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .versions {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .explication {
      width: 50%;
    }
  }

  .roadmap {
    text-align: center;
  }

  .keepReading {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 1rem;
    }
  }
}
