header {
  h6 {
    display: flex;
    align-items: center;

    div.logo {
      display: inline;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  & > div.MuiToolbar-root .search {
    margin-left: auto;
  }
  .search {
    display: flex;
    justify-content: end;
    flex-grow: 0.5;
    flex-basis: 4rem;
  }
  .menus {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  button#menu-icon {
    display: none;
  }

  /* medium */
  @media (max-width: 1200px) {
    .menus {
      display: none;
    }
    button#menu-icon {
      display: block;
    }
    button#web-settings {
      display: none;
    }
  }

  /* small */
  @media (max-width: 600px) {
    & > div {
      justify-content: space-between;
    }
    h6 {
      /* Even if the box width is smaller, the text content remains the same, showing overflow */
      white-space: nowrap;
      transform: translateY(-200%);

      &.hide {
        width: 0;
      }
      &.show {
        transform: translateY(0);
      }
    }
    .title-developer {
      display: none;
    }
    & > div.MuiToolbar-root .search {
      flex-grow: 0;
      margin-left: 0;

      &.searching {
        flex-grow: 1;
      }
    }
  }
}
